.all-buttons {
  background-color: white; /* Green background */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.balance-container {
  display: flex; /* Arrange elements in a column */
  flex-direction: column; /* Arrange elements in a column */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Vertically align items */
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* .balance-text {
  font-size: 16px;
  font-weight: bold;
} */

.component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.deposit-container {
  display: row; /* Arrange elements in a row */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Vertically align items */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.payout-container {
  display: row; /* Arrange elements in a row */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Vertically align items */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.all-buttons {
  padding: 10px 20px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.column-container {
  display: flex;
  flex-direction: row; /* Arrange elements in a column */
  align-items: center; /* Center elements horizontally */
}

.table-container {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 200px; /* Set a fixed height for the container */
}

.column-header {
  width: 50%; /* Adjust width as needed */
  text-align: left; /* Align text to the left */
}

.column-data {
  width: 50%; /* Adjust width as needed */
  text-align: center; /* Align text to the left */
}

/* Existing styles */

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .payout-table {
    width: 100%; /* Make the table take up full width */
    display: block; /* Allow the table to wrap */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .payout-table th,
  .payout-table td {
    display: block; /* Make table cells block-level elements */
    width: 100%; /* Make cells take up full width */
    text-align: left; /* Align text to the left */
  }

  .payout-table th {
    font-weight: bold; /* Make header cells bold */
  }

  .address-wrapper {
    word-wrap: break-word; /* Allow the address to wrap */
    overflow-wrap: break-word; /* Allow the address to wrap */
    font-size: 12px; /* Adjust font size as needed */
  }
}
